{{ define "main" }}

{{ .Content }}

{{ $guidance := .Site.Data.guidance }}
<div class="row mb-2">
  <div class="col">
    <h3 id="for-researchers">Guidance</h3>
  </div>
  <div class="col-sm col-lg-3 text-end">
    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" data-guidance-area="guidance_container">
    </div>
  </div>
</div>

<div id="guidance_container" class="row g-3 mb-5">
  {{ range sort $guidance "name" }}
  <div class="col-md-6 col-lg-4 guidance" {{ with .search_tags }}data-search-tags="{{ delimit . ":" | lower }}"{{ end }}>
    <div class="card-teal-25">
      <div {{ if .thumbnail_border }}class="px-1 pt-1" {{ end }}>
        <a target="_self" href="{{ .url }}"><img class="img-fluid"
            src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/guidance_thumbnails/scilifelab.jpg" }}{{ end }}"
            alt="{{ .name }}"></a>
      </div>
      <div class="p-2 card-teal-title">
        <h5><a href="{{ .url }}" target="_self">{{ .name }}</a></h5>
      </div>
      <div class="p-2">
        {{ .description }}
      </div>
      <div class="px-2">
        <b>Type:</b> {{ delimit (apply .type "strings.FirstUpper" ".") ", " }}
      </div>
      <div class="px-2">
        <b>Created by:</b>
        {{ if .created_by_url}}
          <a href="{{ .created_by_url}}" aria-label = "{{ .created_by_url }}" >{{ .created_by }}</a>
        {{ else }}
          {{ .created_by }}
        {{ end }}
      </div>
      {{ if or (or .support_email .support_website) .support_github }}
        <div class="px-2 mb-2">
          <b>Support:</b>
          {{ with .support_email }}<a href="mailto:{{ . }}" aria-label = "{{ . }}"><i class="bi bi-envelope-fill"></i></a> {{ end }}
          {{ with .support_website }}<a href="{{ . }}" aria-label = "{{ . }}"><i class="bi bi-globe"></i></a> {{ end }}
          {{ with .support_github }}<a href="{{ . }}" aria-label = "{{ . }}"><i class="bi bi-github"></i></a> {{ end }}
        </div>
      {{ end }}
    </div>
  </div>
  {{ end }}
  <div id="no-filtered-guidance" style="display:none;">
    <p class="text-center">No guidance related to the given keyword, please try to use another.</p>
  </div>
</div>

<script>
  
  // Function to filter the guidance based on search text
  $("input[type=text]").on("input", function(){
    
    // Get the text entered and guidance category 
    var searchText = $(this).val().toLowerCase();
    var searchArea = this.getAttribute('data-guidance-area');
    
    // Hide all guidance before filtering
    $(`div#${searchArea} div.guidance`).hide();
    $(`div#${searchArea} div#no-filtered-guidance`).hide();
    
    // If text empty show all guidance
    if (searchText == ''){
      $(`div#${searchArea} div.guidance`).show();
    } else {
      $(`div#${searchArea} div[data-search-tags*='${searchText}']`).show();
      
      // Display a message if no guidance available for given keyword
      var visible_guidance = $(`div#${searchArea} div.guidance`).filter(":visible");
      if (!visible_guidance.length) {
        $(`div#${searchArea} div#no-filtered-guidance`).show();
      }
    }
  });

</script>

{{ end }}
