* @ScilifelabDataCentre/teamfreya
/content/open_science/ @ScilifelabDataCentre/OpenScience
/static/img/open_science/ @ScilifelabDataCentre/OpenScience
/data/open_science/ @ScilifelabDataCentre/OpenScience

