{{ define "main" }}

<section>
  <div>
    {{ .Content }}
  </div>
</section>

<!-- SciLifeLab funding related code begins here -->

<h4>Funding from SciLifeLab</h4>

{{/* Get list of open DDLS funding calls */}}
{{ $open_funding_calls := slice }}
{{ range sort $.Site.Data.funding_calls.ddls ".deadline" "asc" }}
{{ if ge (.deadline | time.Format "20060102") (now | time.Format "20060102") }}
{{ $open_funding_calls = $open_funding_calls | append . }}
{{ end }}
{{ end }}

{{ if ge (len $open_funding_calls) 1 }}
<section>
  <div class="row g-2 mt-3 mb-4">
    {{ range $ind, $funding := $open_funding_calls }}
    <div class="col-md-6 col-lg-4">
      <div class="p-3 border rounded h-100">
        <div class="d-flex justify-content-between">
          <div>
            <h5><a class="" role="button" data-bs-toggle="modal"
                data-bs-target="#descriptionModal{{ $ind }}">{{ .title }}</a></h5>
          </div>
          <div class="px-2 m-2 d-flex flex-column rounded event-date">
            <div class="px-2 fs-3 mx-auto">{{ time.Format "2" .deadline }}</div>
            <div class="pb-1 px-2 mx-auto">{{ time.Format "January" .deadline }}</div>
          </div>
        </div>
        {{ if .funder }}<div class="row">
          <div class="col">
            <b>Funder:</b> {{ .funder }}
          </div>
        </div>{{ end }}
        <div class="row mt-3">
          <div class="col">
            <button type="button" class="btn btn-details btn-sm" data-bs-toggle="modal"
              data-bs-target="#descriptionModal{{ $ind }}">
              See details
            </button>
            <div class="modal fade" id="descriptionModal{{ $ind }}" tabindex="-1"
              aria-labelledby="descriptionModalLabel{{ $ind }}" aria-hidden="true">
              <div class="modal-dialog modal-lg">
                <div class="modal-content">
                  <div class="modal-header">
                    <h5 class="modal-title" id="descriptionModalLabel">{{ .title }}</h5>
                    <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                  </div>
                  <div class="modal-body">
                    <div class="row mt-1">
                      <div class="col">
                        <b>Application deadline:</b> {{ .deadline | time.Format ":date_medium" }}
                      </div>
                    </div>

                    {{ if .funder }}
                    <div class="row mt-2">
                      <div class="col">
                        <b>Funder:</b> {{ .funder }}
                      </div>
                    </div>
                    {{ end }}

                    {{ if .description }}
                    <div class="row mt-2">
                      <div class="col"><b>Brief description:</b><br>
                        {{ .description | markdownify }}
                      </div>
                    </div>
                    {{ end }}

                    {{ if .applicant }}
                    <div class="row mt-2">
                      <div class="col"><b>Who can apply?</b><br>
                        {{ .applicant | markdownify }}
                      </div>
                    </div>
                    {{ end }}

                    <div class="row mt-3">
                      <div class="col-md">
                        <a target="_blank" href="{{ .url }}"><i class="bi bi-globe"></i> Call webpage</a>
                      </div>
                    </div>
                  </div>
                  <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    {{ end }}
  </div>
</section>
{{ else }}
<div class="alert alert-secondary mt-4">
  There are currently no open funding calls from SciLifeLab related to data-driven life science.
</div>
{{ end }}

<!-- Code for other funding sources starts here -->

{{/* Get list of other funding sources */}}
{{ $other_funding_sources := $.Site.Data.funding_calls.other_sources }}
{{ if ge (len $other_funding_sources) 1 }}
<section>
  <h4>Other potential sources of funding</h4>
  <div class="mt-3 mb-4">
    Below is a list of other sources of funding that may include calls relevant to data-driven life science.
    <ul class="mt-1">
      {{ range $other_funding_sources }}
      <li><a target="_blank" href="{{ .url }}">{{ .funder }}</a></li>
      {{ end }}
    </ul>
  </div>
</section>
{{ end }}

{{ end }}