{{ define "main" }}

{{ .Content }}

{{ $services := .Site.Data.services }}
{{ $targets := slice "researchers" "facilities"}}
{{ range $target := $targets }}
    {{ if eq $target "researchers" }}
        <h3 id="for-researchers">Services for researchers</h3>
        <div class="mt-2">
          <p>These services are available free of charge to all life science researchers and communities in Sweden, 
             regardless of SciLifeLab affiliation.</p>
        </div>
    {{ else if eq $target "facilities" }}
        <h3 id="for-facilities">Services for data-producing facilities/units</h3>
        <div class="mt-2">
          <p>The services below are available to facilities/units producing life science data in Sweden. In some 
             cases, the services may only be available for SciLifeLab infrastructure units.</p>
        </div>
    {{ end }}
    <div class="row g-2 mb-5 mt-2">
      {{ range $services }}
      {{ if in .target $target }}
      <div class="col-md-6 col-lg-3">
        <div class="p-3 border rounded h-100">
          <div class="row">
            <div class="col">
              <img class="img-fluid rounded-top mb-1" style="width:236px;height:80px;"
                src="{{ with .logo_location }}{{ . }}{{ else }}{{ "/img/logos/scilifelab-logo.svg" }}{{ end }}"
                alt="{{ .name }}">
            </div>
          </div>
          <div class="row mt-2">
            <div class="col">
              <h5><a href="{{ .url }}" target="_blank">{{ .name }}</a></h5>
            </div>
          </div>
          <div class="row">
            <div class="col">
              {{ .description }}
            </div>
          </div>
          <div class="row mt-3">
            <div class="col">
              <b>Type:</b> 
              {{ if in .type "tool" }}<i class="bi bi-wrench-adjustable"></i> {{ end }}
              {{ if in .type "database" }}<i class="bi bi-server"></i> {{ end }}
              {{ if in .type "portal" }}<i class="bi bi-window"></i> {{ end }}
              {{ if in .type "helpdesk" }}<i class="bi bi-person-workspace"></i> {{ end }}
            </div>
          </div>
          <div class="row">
            <div class="col">
              <b>Maintained by:</b> 
              {{ if .maintained_by_url}}
                <a href="{{ .maintained_by_url}}">{{ .maintained_by }}</a>
              {{ else }}
                {{ .maintained_by }}
              {{ end }}
            </div>
          </div>
          {{ if or (or .support_email .support_website) .support_github }}
          <div class="row">
            <div class="col">
              <b>Support:</b> 
              {{ with .support_email }}<a href="mailto:{{ . }}"><i class="bi bi-envelope-fill"></i></a> {{ end }}
              {{ with .support_website }}<a href="{{ . }}"><i class="bi bi-globe"></i></a> {{ end }}
              {{ with .support_github }}<a href="{{ . }}"><i class="bi bi-github"></i></a> {{ end }}
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}
      {{ end }}
      <div class="col-md-6 col-lg-3">
        <div class="p-3 border rounded h-100 d-flex align-items-center">
          <div class="text-muted fst-italic">More services to be hosted in the future.</div>
        </div>
      </div>
    </div>
{{ end }}

{{ end }}
