@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');

/* Brand colors
  use 1, 0.75, 0.50, or 0.25
  color: rgba(167, 201, 71, 1);  lime
  color: rgba(73, 31, 83, 1);  grape, use as "color pop" or on smaller details
  color: rgba(4, 92, 100, 1);  teal
  color: rgba(76, 151, 159, 1); aqua

  shades of black between 5-90% used as complementary colors
  color: rgba(229, 229, 229, 1); light grey
  color: rgba(166,166,166, 1); medium grey
  color: rgba(63,63,63,1); dark grey
*/

body {
    font-family: 'Lato', Times, Arial;
}

.header {
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    padding: 1.5rem 0;
    color: rgba(229, 229, 229, 1);
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.navbar-nav.navbar-top li:not(:first-child) a {
    padding-left: 0rem;
}
.navbar-nav.navbar-top li:not(:last-child) a span {
    border-right: 1px solid #ccc;
    padding-right: 1rem;
}
.nav-languages a img {
    width: 1rem;
    opacity: 0.5;
    margin-left: 0.5rem;
    margin-bottom: 0.1rem;
}
.nav-languages a:hover img,
.nav-languages a:focus img,
.nav-languages a:active img {
    opacity: 1;
}
