@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&display=swap'); */

/* Brand colors
  use 1, 0.75, 0.50, or 0.25
  color: rgba(167, 201, 71, 1);  lime
  color: rgba(73, 31, 83, 1);  grape, use as "color pop" or on smaller details
  color: rgba(4, 92, 100, 1);  teal
  color: rgba(76, 151, 159, 1); aqua

  grape tints:
  grape: #491F53, RGB: 73/31/83
  75%: #77577E, RGB:119/87/126
  50%: #A48FA9, RGB: 164/143/169
  25%: #D2C7D4, RGB: 210/199/212

  shades of black between 5-90% used as complementary colors
  color: rgba(229, 229, 229, 1); light grey
  color: rgba(166,166,166, 1); medium grey
  color: rgba(63,63,63,1); dark grey
*/

body {
  font-family: "Lato", Times, Arial;
}

blockquote {
  border-left: 5px solid rgba(46, 104, 165, 0.3);
  padding-left: 1rem;
  margin-left: 1rem;
  color: #666;
}

a {
  color: #045c64;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #045c64;
  text-decoration: underline;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  text-decoration: underline;
  color: #045c64;
}

.title-link {
  color: #17202a;
}

.title-link:hover {
  text-decoration: underline;
  color: #3f5873;
}

.vr-right {
  border-right: 0.5px solid #a6a6a6;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 1.5rem 0;
  color: #e5e5e5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.navbar-nav.navbar-top li:not(:first-child) a {
  padding-left: 0rem;
}
.navbar-nav.navbar-top li:not(:last-child) a span {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}
.nav-languages a img {
  width: 1rem;
  opacity: 0.5;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}
.nav-languages a:hover img,
.nav-languages a:focus img,
.nav-languages a:active img {
  opacity: 1;
}

@media all and (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}

.nav-tabs a.nav-link {
  color: #045c64;
  font-weight: 500;
}

.nav-tabs .nav-link {
  color: #045c64;
  font-weight: 500;
}

.btn-aqua {
  color: #fff;
  background-color: #4c979f;
}

.btn-aqua:hover {
  color: #3f3f3f;
  background-color: #4c979f;
}

/* logo */

@media all and (min-width: 992px) and (max-width: 1199px) {
  .logo {
    max-width: 340px;
  }
  
  .logo span {
    font-size: 0.95rem;
  }
}

@media all and (max-width: 460px) {
  .logo {
    width: 75%;
  }
  
  .logo span {
    display: none;
  }
}

/* Nav links */

.navbar-light .navbar-nav .nav-link:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  text-decoration: none;
}

/* Main menu */
.navbar-light .navbar-nav .nav-main-menu {
  color: #045c64;
}

.navbar-light .navbar-nav .nav-main-menu:hover,
.navbar-light .navbar-nav .nav-main-menu:focus,
.navbar-light .navbar-nav .nav-main-menu.active {
  color: #045c64;
  text-decoration: underline;
}

/* Background colors */

.bg-light-gray {
  background-color: #e5e5e5;
}

.bg-medium-gray {
  background-color: #a6a6a6;
}

.bg-dark-gray {
  background-color: #3f3f3f;
}

.bg-highlight {
  height: 100%;
  background-color: rgba(229, 229, 229, 0.75);
  border-radius: 5px;
}

.bg-home-news-title {
  background-color: rgba(229, 229, 229, 0.6);
}

.bg-service {
  height: 100%;
  background-color: #a6cbcf;
}

.bg-service-title {
  background-color: #d2e5e7;
}

.bg-resource {
  height: 100%;
  background-color: #82aeb2;
}

.bg-resource-title {
  background-color: #c0d6d8;
}

.bg-home-events-title {
  background-color: rgba(73, 31, 83, 0.1);
}

/* Highlights */

.highlight-tag {
  background-color: #77577e;
}

.highlight-tag a {
  color: white;
  text-decoration: none;
}

.highlight-tag a:hover {
  color: #a6a6a6;
}

/* Badges */

.event-date {
  background-color: #77577e;
  color: white;
}

.event-type {
  background-color: #a48fa9;
  color: white;
}

.data-item-type {
  background-color: #045c64;
  color: white;
}

.serve-app-type {
  background-color: #491f53;
  color: white;
}

.btn-details {
  color: #fff;
  background-color: #4c979f;
}

.btn-details:hover {
  color: #3f3f3f;
  background-color: #4c979f;
}

.latest-news {
  background-color: #77577e;
  color: #fff;
  vertical-align: 0.15em;
}

/* Serve app related styling */

.app-description {
  margin: 8px 0px 0px;
  padding: 0px;
  overflow: hidden;
}

.app-description div.collapse:not(.show) {
  display: block;
  height: 65px !important;
  overflow: hidden;
}

.app-description div.collapsing {
  min-height: 65px !important;
}

.app-description button {
  font-size: 0.8em;
  border: none;
  padding: 0px;
  background-color: #fff;
  color: #045c64;
}

.app-description button.collapsed:after {
  content: "+ more description";
}

.app-description button:not(.collapsed):after {
  content: "- less description";
}

/* Support block for the homepage */
.support {
  background-color: #491f53 !important;
  padding: 12px;
}

.support > * {
  color: white;
}

/* Used for links in the banner header section */
.banner-title-link {
  color: white;
}

.banner-title-link:hover {
  text-decoration: underline;
  color: white;
}
