<!doctype html>
<html lang="en">
    {{- partial "head.html" . -}}
    <body>
        {{- partial "navbar.html" . -}}
        {{- partial "header.html" . -}}
        {{- block "header" . }}{{- end }}
        <main>
          <div class="container content border" id="content">
            <!-- <div class="alert alert-info mx-5" role="alert">
              <i class="bi bi-exclamation-circle"></i> The SciLifeLab Data Platform as well as this website are currently under development. At this point, this site contains information about the planned environment & news regarding the development process.
            </div> -->
                  {{ if .Params.toc }}
                          <div class="row">
                              <div class="col-md-3 order-md-first toc small">{{- partial "toc.html" . -}}</div>
                              <div class="col-md-9 order-md-last content" id="content">{{- block "main" . }}{{- end }}</div>
                          </div>
                  {{ else }}
                          {{- block "main" . }}{{- end }}
                  {{ end }}
          </div>
        </main>
        {{- partial "footer.html" . -}}
    </body>
</html>
