{{ define "main" }}

<div class="row">
  <div class="col">
    {{ .Content }}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
      {{ range .RegularPages }}
      <div class="row">
        <div class="col small">
          {{ .Date }}
        </div>
      </div>
      <div class="row">
        <div class="col">
        <h6>{{ .Title }}</h6>
      </div>
    </div>
      <div class="row">
        <div class="col mb-2 pb-2">
          {{ .Content }}
        </div>
      </div>
      {{ end }}
  </div>
</div>

{{ end }}
