{{ define "main" }}

<div class="row">
  <div class="col">
    {{ .Content }}
  </div>
</div>

<div class="row mt-3">
  <div class="col">
      {{ range $.Site.Data.news_items }}
      <div class="row">
        <div class="col small">
          {{ .date }}
        </div>
      </div>
      <div class="row">
        <div class="col">
        <h6>{{ .title }}</h6>
      </div>
    </div>
      <div class="row">
        <div class="col mb-2 pb-2">
          {{ .description | markdownify }}
        </div>
      </div>
      {{ end }}
  </div>
</div>

{{ end }}
