@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap");

/* Brand colors
  use 1, 0.75, 0.50, or 0.25
  color: rgba(167, 201, 71, 1);  lime
  color: rgba(73, 31, 83, 1);  grape, use as "color pop" or on smaller details
  color: rgba(4, 92, 100, 1);  teal
  color: rgba(76, 151, 159, 1); aqua

  grape tints:
  grape: #491F53, RGB: 73/31/83
  75%: #77577E, RGB:119/87/126
  50%: #A48FA9, RGB: 164/143/169
  25%: #D2C7D4, RGB: 210/199/212

  shades of black between 5-90% used as complementary colors
  color: rgba(229, 229, 229, 1); light grey
  color: rgba(166,166,166, 1); medium grey
  color: rgba(63,63,63,1); dark grey
*/

body {
  font-family: "Lato", Times, Arial;
}

blockquote {
  border-left: 5px solid rgba(46, 104, 165, 0.3);
  padding-left: 1rem;
  margin-left: 1rem;
  color: #666;
}

a {
  color: #045c64;
  text-decoration: none;
}

a:hover,
a:focus,
a:active {
  color: #045c64;
  text-decoration: underline;
}

h2 a:hover,
h3 a:hover,
h4 a:hover,
h5 a:hover {
  text-decoration: underline;
  color: #045c64;
}

.title-link {
  color: #17202a;
}

.title-link:hover {
  text-decoration: underline;
  color: #3f5873;
}

.vr-right {
  border-right: 0.5px solid #a6a6a6;
}

.header {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-color: #491f53;
  padding: 1.5rem 0;
  color: #e5e5e5;
  box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px,
    rgba(17, 17, 26, 0.05) 0px 8px 32px;
}

.navbar-nav.navbar-top li:not(:first-child) a {
  padding-left: 0rem;
}
.navbar-nav.navbar-top li:not(:last-child) a span {
  border-right: 1px solid #ccc;
  padding-right: 1rem;
}
.nav-languages a img {
  width: 1rem;
  opacity: 0.5;
  margin-left: 0.1rem;
  margin-bottom: 0.1rem;
}
.nav-languages a:hover img,
.nav-languages a:focus img,
.nav-languages a:active img {
  opacity: 1;
}

@media all and (min-width: 992px) {
  .mobile-navbar {
    display: none;
  }
}

.nav-tabs a.nav-link {
  color: #045c64;
  font-weight: 500;
}

.nav-tabs .nav-link {
  color: #045c64;
  font-weight: 500;
}

/* Nav links */

.navbar-light .navbar-nav .nav-link:hover {
  color: #3f3f3f;
  text-decoration: none;
}

.navbar-light .navbar-nav .nav-link:hover,
.navbar-light .navbar-nav .nav-link:focus,
.navbar-light .navbar-nav .nav-link:active {
  text-decoration: none;
}

/* Main menu */
.navbar-light .navbar-nav .nav-main-menu {
  color: #045c64;
}

.navbar-light .navbar-nav .nav-main-menu:hover,
.navbar-light .navbar-nav .nav-main-menu:focus,
.navbar-light .navbar-nav .nav-main-menu.active {
  color: #045c64;
  text-decoration: underline;
}

/* Nav sidebar in Open Science section */
.section-sidebar {
  font-family: "Lato", sans-serif;
  font-size: 1rem;
  color: #3f3f3f;
}

.section-sidebar .nav-link {
  color: #045c64;
  padding: 0.5rem 1rem;
  border-left: 3px solid transparent;
  transition: all 0.2s ease-in-out;
}

.section-sidebar .nav-link:hover {
  color: #491f53;
  text-decoration: none;
  border-left: 3px solid #491f53;
  background-color: rgba(229, 229, 229, 0.4);
}

.section-sidebar .nav-link.active {
  font-weight: bold;
  color: #491f53;
  border-left: 3px solid #491f53;
  background-color: rgba(229, 229, 229, 0.6);
}

.sidebar-wrapper {
  min-height: 100vh;
  border-right: 1px solid #ccc;
  background-color: #f8f9fa; /* light grey */
}

/* Nav tab on services page */

.services-tab-list a.nav-link {
  text-decoration: none;
}

.services-tab-list a.nav-link.active {
  font-weight: 600;
}

/* Adaptive image */

.img-adaptive {
  width: 100%;
}

@media all and (min-width: 1200px){
  .img-adaptive {
    width: 75%;
  }
}

/* logo */

@media all and (min-width: 992px) and (max-width: 1199px) {
  .logo {
    max-width: 340px;
  }
  
  .logo span {
    font-size: 0.95rem;
  }
}

@media all and (max-width: 460px) {
  .logo {
    width: 75%;
  }
  
  .logo span {
    display: none;
  }
}

/* Moving cards */
.moving-card {
  transition: 0.15s;
}

.moving-card:hover {
  transform: translateY(-.3rem);
  transition: 0.15s;
  box-shadow: 0 0 20px 0 rgba(166, 166, 166, 0.5);
}

/* News cards */

.news-card {
  height: 100%;
  border: 0.8px solid rgba(166, 166, 166, 0.8);
  box-shadow: 0 0 15px 0 rgba(166, 166, 166, 0.4);
}

/* Box outline and shadow */
.card-box {
  height: 100%;
  padding: 16px;
  border-radius: 5px;
  border: 0.75px solid #a6a6a6;
  box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.08);
}

/* Background colors */

.bg-light-gray {
  background-color: #e5e5e5;
}

.bg-medium-gray {
  background-color: #a6a6a6;
}

.bg-dark-gray {
  background-color: #3f3f3f;
}

.bg-highlight {
  height: 100%;
  background-color: rgba(229, 229, 229, 0.75);
  border-radius: 5px;
}

.bg-home-news-title {
  background-color: rgba(229, 229, 229, 0.6);
}

.bg-home-events-title {
  background-color: rgba(73, 31, 83, 0.1);
}

/* Cards for Service, resource, etc */

.card-teal-25 {
  height: 100%;
  background-color: #c0d6d8;
}

.card-teal-title {
  background-color: #045c64;
}

.card-teal-title a {
  color: #fff;
}

.card-teal-title a:hover{
  color: #fff;
}

/* Highlights */

.highlight-tag {
  background-color: #77577e;
}

.highlight-tag a {
  color: white;
  text-decoration: none;
}

.highlight-tag a:hover {
  color: #a6a6a6;
}

/* Buttons */

.btn-aqua {
  background-color: #79B1B7;
}

.btn-aqua:hover {
  color: #3f3f3f;
  background-color: #4c979f;
}

/* Badges */

.event-date {
  background-color: #77577e;
  color: white;
}

.event-type {
  background-color: #77577E;
  color: white;
}

.data-item-type {
  background-color: #045c64;
  color: white;
}

.serve-app-type {
  background-color: #491f53;
  color: white;
}

.btn-details {
  background-color: #79B1B7;
}

.btn-details:hover {
  color: #3f3f3f;
  background-color: #4c979f;
}

.latest-news {
  background-color: #77577e;
  color: #fff;
  vertical-align: 0.15em;
}

/* Serve app related styling */

.app-description {
  margin: 8px 0px 0px;
  padding: 0px;
  overflow: hidden;
}

.app-description div.collapse:not(.show) {
  display: block;
  height: 65px !important;
  overflow: hidden;
}

.app-description div.collapsing {
  min-height: 65px !important;
}

.app-description button {
  font-size: 0.8em;
  border: none;
  padding: 0px;
  background-color: #fff;
  color: #045c64;
}

/* DC block for the homepage */
.dc-box {
  background-color: #045c64 !important;
  padding: 12px;
  color: white;
}

/* Support block for the homepage */
.support {
  background-color: #491f53 !important;
  padding: 12px;
  color: white;
}

/* Used for links in the banner header section */
.banner-title-link {
  color: white;
}

.banner-title-link:hover {
  text-decoration: underline;
  color: white;
}
/* Search */
/* search results area */
#search-results {
  font-size: 1.175em;
  background-color: rgba(229, 229, 229, 0.5);
}

#search-results a:hover {
  font-size: 1.01em;
  transition: 0.1s;
  text-decoration: none;
}

#search-results mark {
  padding: 0;
}

.text-muted-dark {
  color: rgba(0, 0, 0, 0.65);
}

/* Override accordion styles within the data_sources-content */
.data_sources-content .accordion {
  --bs-accordion-bg: inherit; /* Use the parent bg-light color */
}

.data_sources-content .accordion-button:not(.collapsed) {
  color: inherit; /* Remove specific active color */
}
.data_sources-content .accordion-body {
  padding: 0.5rem 0.5rem; /* Adjust these values as needed */
}
.data_sources-content .filter-heading h5 {
  padding-top: 1rem;
  padding-left: 0.75rem;
  margin-bottom: .15rem;
}
@media (min-width: 992px) {
  .data_sources-content .accordion-item {
    border: none;
  }
}
.data_sources-content .accordion-button.custom-padding {
  padding-left: 0.5rem; /* Adjust as needed */
  padding-right: 0.5rem; /* Adjust as needed */
}
#job-filters .accordion {
  --bs-accordion-bg: inherit; /* Use the parent bg-light color */
}

#job-filters  .accordion-button:not(.collapsed) {
  color: inherit; /* Remove specific active color */
}

#job-filters .accordion-body {
  padding: 0.5rem 0.5rem; /* Adjust these values as needed */
}

@media (min-width: 992px) {
  #job-filters .accordion-item {
    border: none;
  }
}
#job-filters .accordion-button.custom-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
}

#job-filters .filter-heading h5 {
  padding-top: 1rem;
  padding-left: 0.75rem;
  margin-bottom: .15rem;
}
/* Events filters */
#events-filters .accordion {
  --bs-accordion-bg: inherit; /* Use the parent bg-light color */
}

#events-filters .accordion-button:not(.collapsed) {
  color: inherit; /* Remove specific active color */
}

#events-filters .accordion-body {
  padding: 0.5rem 0.5rem; /* Adjust these values as needed */
} 

@media (min-width: 992px) {
  #events-filters .accordion-item {
    border: none;
  }
} 

#events-filters .accordion-button.custom-padding {
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: left;
} 

#events-filters .filter-heading h5 {
  padding-top: 1rem;
  padding-left: 0.75rem;
  margin-bottom: .15rem;
} 





