<!-- Banner and page title -->
{{ if .IsHome }}
  <header class="header" style="background-image: url('/img/illustrations/circle_zoomed.png'); color: white; ">
    <div class="container">
      <div class="py-2 my-1">
        <h2 {{ if .IsHome }}class="d-none" id="home-banner"{{ end }}>
          <a class="banner-title-link" href="/news/#20240418">Welcome to the SciLifeLab Data Platform</a>
        </h2>
      </div>
    </div>
  </header>
{{ else }}
  <header class="header"
    style="background-image: url('{{ if .Params.header_image }}{{ .Params.header_image }}{{ else }}/img/illustrations/bubble_matrix.png{{ end }}');">
    <div class="container">
      {{ $banner_page := . }}
      {{ if or (eq .Section "highlights") (eq .Section "tags") (eq .Section "authors") }}
          {{ $banner_page = .Site.GetPage "section" "highlights" }}
      {{ else if not $banner_page.Title }}
          {{ $banner_page = .FirstSection }}
      {{ end }}
      {{ if $banner_page.Params.description }}
        <h2>{{ $banner_page.Title }}</h2>
        {{ $banner_page.Params.description }}
      {{ else }}
        <div class="py-2 my-1">
          <h2>{{ $banner_page.Title }}</h2>
        </div>
      {{ end }}
    </div>
  </header>
{{ end }}

<!-- Breadcrumbs -->
{{ if .Parent }}
  <nav class="breadcrumbs pt-1 bg-light" aria-label="breadcrumb">
    <div class="container">
      <ol class="breadcrumb">
        {{ if .Parent.Parent }}
        {{ if .Parent.Parent.Parent }}
        {{ if .Parent.Parent.Parent.Parent }}
        <li class="breadcrumb-item"><a
            href="{{ .Parent.Parent.Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Parent.Parent.Title }}</a></li>
        {{ end }}
        <li class="breadcrumb-item"><a
            href="{{ .Parent.Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Parent.Title }}</a></li>
        {{ end }}
        <li class="breadcrumb-item"><a href="{{ .Parent.Parent.RelPermalink }}">{{ .Parent.Parent.Title }}</a></li>
        {{ end }}
        {{ if or (eq .Section "tags") (eq .Section "authors") }}
        <li class="breadcrumb-item"><a href="/highlights/">Data highlights</a>
        <li class="breadcrumb-item">{{ .Parent.Title }}</li>
        {{ else }}
        <li class="breadcrumb-item"><a href="{{ .Parent.RelPermalink }}">{{ .Parent.Title }}</a></li>
        {{ end }}
        <li class="breadcrumb-item active" aria-current="page"><span style="color: #4a5055;">{{ .Title }}</span></li>
      </ol>
    </div>
  </nav>
{{ end }}
