{{ if eq (len (.Scratch.Get "highlights_list")) 3 }}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2">
{{ else }}
<div class="row row-cols-1 row-cols-md-2 row-cols-lg-4 g-2 g-lg-3">
{{ end }}
  {{ range .Scratch.Get "highlights_list" }}
  <div class="col">
      <div class="bg-highlight">
      <div class="pt-3 px-2">
        <a href="{{ .Page.RelPermalink }}">
          <img class="img-fluid rounded-top" src="{{ .Params.banner }}">
        </a>
      </div>
      <div class="mt-1 px-2">
        <small>{{ .Date | time.Format ":date_long" }}</small>
      </div>
      <div class="px-2 mb-2">
        <b><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></b>
      </div>
    </div>
  </div>
  {{ end }}
</div>
