<div class="container-fluid">
  <div class="row">
    <!-- Collapsable Navigation menu for smaller screen (only) -->
    <div class="accordion d-md-none" id="osMobileNavigation">
      <div class="accordion-item">
        <h2 class="accordion-header" id="navigationHeading">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#osNavigationMenu" aria-expanded="true" aria-controls="collapseOne">
            Navigation Menu
          </button>
        </h2>
        <div id="osNavigationMenu" class="accordion-collapse collapse" aria-labelledby="navigationHeading" data-bs-parent="#osMobileNavigation">
          <div class="accordion-body p-0">
            <div class="p-3 sidebar-wrapper">
              {{ partial "sidebar.html" . }}
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- Sidebar nav for bigger screen (only) -->
    <aside class="col-md-3 col-xl-2 p-3 sidebar-wrapper d-none d-md-block">
      {{ partial "sidebar.html" . }}
    </aside>

    <!-- Main content area -->
    <main class="col-md-9 col-xl-10 p-4">
      {{ .Content }}
    </main>
  </div>
</div>
