{{ $menu := index .Site.Menus "open_science" }}

<nav class="section-sidebar">
  <ul class="nav flex-column">
    {{ range $menu }}
    <li class="nav-item">
      {{ $isCurrent := and .Page (eq .Page.RelPermalink $.RelPermalink) }}
      <a class="nav-link {{ if $isCurrent }}active{{ end }}"
         href="{{ .Page.RelPermalink }}">
        {{ .Name }}
      </a>
      {{ if and $isCurrent .Page.Params.show_section_nav }}
      <div class="sidebar-toc nav flex-column ms-4 ps-1 fs-6">
        {{ .Page.TableOfContents }}
      </div>
      {{ else if .HasChildren }}
      <ul class="nav flex-column ms-2">
        {{ range .Children }}
        <li class="nav-item">
          <a class="nav-link py-1 {{ if eq .Page.RelPermalink $.RelPermalink }}active{{ end }}"
             href="{{ .Page.RelPermalink }}">
            {{ .Name }}
          </a>
        </li>
        {{ end }}
      </ul>
      {{ end }}
    </li>
    {{ end }}
  </ul>
</nav>
