{{ define "main" }}

<section>
  <div class="row mt-2 pt-2">
    <div class="col-md-8 py-2 pe-3 vr-right">
      <div style="color: white;" class="bg-success border rounded py-2 px-4 my-3 fst-italic"> <i class="bi bi-snow2"></i> <i class="bi bi-snow2"></i>
        SciLifeLab Data Centre wish everyone a Merry Christmas and a Happy New Year! <i class="bi bi-snow2"></i> <i class="bi bi-snow2"></i><br> The team will be away from 20th December until 2nd January, and will respond to any questions/requests as soon as possible.</div>
      <!-- Services list -->
      {{ with .Site.GetPage "section" "services" }}
      <div class="row mb-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">Services</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all services <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 pb-2">
        {{ range first 3 .Site.Data.services }}
        {{ if in .target "researchers" }}
        <div class="col">
          <div class="bg-service">
            <div {{ if .thumbnail_border }}class="p-1" {{ end }}>
              <a target="_self" href="{{ .url }}"><img class="img-fluid"
                  src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/service_thumbnails/scilifelab.jpg" }}{{ end }}"
                  alt="{{ .name }}"></a>
            </div>
            <div class="p-2 bg-service-title">
              <b><a target="_self" href="{{ .url }}">{{ .name }}</a></b>
            </div>
            <div class="p-2">
              {{ .description }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}

      <!-- Resources list -->
      {{ with .Site.GetPage "section" "resources" }}
      <div class="row pb-2 mt-4 pt-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">Resources</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all resources <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-2 pb-2">
        {{ range first 3 .Site.Data.resources }}
        <div class="col">
          <div class="bg-resource">
            <div {{ if .thumbnail_border }}class="p-1" {{ end }}>
              <a target="_self" href="{{ .url }}"><img class="img-fluid"
                  src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/resource_thumbnails/scilifelab.jpg" }}{{ end }}"
                  alt="{{ .name }}"></a>
            </div>
            <div class="p-2 bg-resource-title">
              <b><a target="_self" href="{{ .url }}">{{ .name }}</a></b>
            </div>
            <div class="p-2">
              {{ .description }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
   

      <!-- Data Higlights -->
      {{ with .Site.GetPage "section" "highlights" }}
      <div class="row pb-2 mt-4 pt-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all highlights <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      {{ $latest_highlights := first 3 (where .RegularPages "Section" "highlights") }}
      {{ .Scratch.Set "highlights_list" $latest_highlights }}
      {{ partial "highlights_cards.html" . }}
      {{ end }}
    </div>

    <div class="col-md-4 ms-auto py-2 ps-3">
      <!-- News updates -->
      {{ with .Site.GetPage "section" "news" }}
      <div class="border rounded mb-4 pb-2">
        <div class="d-flex justify-content-between align-items-center px-3 py-2 mb-2 bg-home-news-title">
          <h4>What's new?</h4>
          <a href="{{ .RelPermalink }}">See all news <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
        <div id="news-items">
          {{ range $index, $news := first 4 .RegularPages }}
          <div class="px-3">
            <span class="news-date small">
              {{ .Date | time.Format ":date_long" }}
            </span>
            <h6 class="mt-1" style="line-height:1.3rem;">
              <a href="{{ .FirstSection.RelPermalink }}#{{ .Date.Format "20060102" }}">{{ .Title }}</a>
            </h6>
            {{ if ne $index 3}} <hr class="mx-4 my-3"> {{ end }}
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <!-- Upcoming Events -->
      <section id="upcoming-events">
        <!-- The events content will filled by JS function below -->
      </section>

      <!-- Get featured box -->
      <div class="support rounded">
        <h3>Get your work featured!</h3>
        <p>The platform offers hosting for services, and promotes resources and work relevant to data-driven life
          science research in Sweden. We also promote relevant jobs, calls, and events/training. Get in touch with
          us about adding content relevant to you!</p>
        <h5><a style="color:white;" href="/contact/">Click here to get in touch
            <i class="bi bi-arrow-right-circle-fill"></i></a></h5>
      </div>

    </div>
  </div>
</section>

<!-- Recently published items in figshare-->
<section style="background-image: url('/img/illustrations/bg_figshare.png');">
  <div class="p-3 p-lg-4 my-4">
    <div class="row mb-3">
      <div class="col text-white">
        <h3>Recently published items in the SciLifeLab Data Repository</h3>
      </div>
      <div class="col-4 col-lg-3 mt-2 fs-6 text-end d-none d-md-block">
        <small class="text-small text-white">(external site) </small>
        <a href="https://figshare.scilifelab.se" target="_blank" class="text-white">See all items
          <i class="bi bi-arrow-right-square-fill text-white"></i></a>
      </div>
    </div>
    <div id="recent-data-items" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-4 pb-4"></div>
    <p class="text-white">If you would like further information about SciLifeLab data repository or experience issues
      with the items above, please email <a class="text-white" style="text-decoration: underline;"
        href="mailto:figshare@scilifelab.se">figshare@scilifelab.se</a>. If you have questions about a specific
      item,
      contact information is available on the item's page.
    </p>
    <div class="d-md-none">
      <small class="text-small text-white">(external site) </small>
      <a href="https://figshare.scilifelab.se" target="_blank" class="text-white">See all items
        <i class="bi bi-arrow-right-square-fill text-white"></i></a>
    </div>
</section>

<!-- recently deployed apps in serve -->
<section style="background-image: url('/img/illustrations/bg_serve.png');">
  <div class="p-3 p-lg-4 my-4">
    <div class="row mb-3">
      <div class="col text-white">
        <h3>Apps recently deployed on SciLifeLab Serve</h3>
      </div>
      <div class="col-4 mt-2 fs-6 text-end d-none d-md-block">
        <small class="text-small text-white">(external site) </small>
        <a href="https://serve.scilifelab.se/apps" target="_blank" class="text-white">See public apps
          <i class="bi bi-arrow-right-square-fill text-white"></i></a>
      </div>
    </div>
    <div id="recent-serve-apps" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-4 pb-4"></div>
    <p class="text-white">If you would like further information about SciLifeLab Serve or experience issues with the
      apps above, please email <a class="text-white" style="text-decoration: underline;"
        href="mailto:serve@scilifelab.se">serve@scilifelab.se</a>. If you have questions about a specific app, go to
      the <a class="text-white" style="text-decoration: underline;" href="https://serve.scilifelab.se/apps"
        target="_blank">apps page on SciLifeLab Serve</a> and click on the 'Details' button of the to find contact
      information for the owner of the app.
    </p>
    <div class="d-md-none">
      <small class="text-small text-white">(external site) </small>
      <a href="https://serve.scilifelab.se/apps" target="_blank" class="text-white">See public apps
        <i class="bi bi-arrow-right-square-fill text-white"></i></a>
    </div>
  </div>
</section>

<script>
  /* Functions to fetch and load recent items from desired Scilifelan services */

  document.addEventListener("DOMContentLoaded", function (event) {
    // Takes a URL and calls the callback function pass the data fetched
    function getDataFromUrl(url, callback) {
      var req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open("GET", url, true);
      req.onload = function () {
        callback(JSON.parse(req.responseText));
      };
      req.send(null);
    }
    
    // Creates html entry for latest events
    function addEvents(data){
      var dataArray = data.items, eventList = [], eventsHTML = "";;
      dataArray.forEach((event) => {
        event.banner_date = event.date_start || event.registration_deadline;
        if (typeof event.banner_date !== 'undefined'){
          var dateString = event.banner_date + (event.time_start ? ' ' + event.time_start : '');
          var [h, m] = event.time_start ? event.time_start.split(":") : [0, 0];
          if (new Date(dateString) >= new Date().setHours(h, m)){
            eventList.push(event);
          };
        };
      });
      eventList = eventList.sort((a,b) => (a.banner_date > b.banner_date) ? 1 : (a.banner_date < b.banner_date) ? -1 : 0);
      var eventsToShow = eventList.slice(0, 3);
      if (eventsToShow.length > 0){
        var eventsHTML = `<div class="border rounded my-4 pb-2">
                            <div class="d-flex justify-content-between align-items-center px-3 py-2 mb-1 bg-home-events-title">
                              <h4 class="mb-1">Upcoming Events</h4>
                              <a href="/events/">See all events <i class="bi bi-arrow-right-square-fill"></i></a>
                            </div>
                            <div>`;
        eventsToShow.forEach((event, ind) => {
          var event_date = new Date(event.banner_date);
          eventsHTML += `<div class="d-flex justify-content-between align-items-center px-3 py-2">
                          <a class="" role="button" href="/events/" target="_blank">${event.title}</a>
                          <div class="px-2 py-1 d-flex flex-column rounded event-date mw-100">
                            <div class="px-2 fs-6 mx-auto">${event_date.getDate().toString().padStart(2, '0')}</div>
                            <div class="pb-1 px-2 fs-6 mx-auto">${event_date.toLocaleString('en-US', { 'month': 'short' })}</div>
                          </div>
                         </div>
                        ${ind < (eventsToShow.length - 1) ? '<div class="px-4 py-1"><hr class="my-2"></div>' : ''}`;
        }); // for each events iteration to create html ends here
        eventsHTML += `</div>
                    </div>`;
      var eventRow = document.getElementById('upcoming-events');
      eventRow.innerHTML = eventsHTML;
      };
    }
    
    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fblobserver.dc.scilifelab.se%2Fblob%2Fdata_platform_events.json"),
      addEvents
    );

    // Creates html entry for each item fetch from Scilifelab Data Repository
    function addDataItems(dataArray) {
      var dataItemsHTML = "";
      for (const data of dataArray) {
        dataItemsHTML += `
        <div class="col">
          <div class="p-3 border rounded bg-white h-100">
            <div>
              <a href="${data.url_public_html}" target="_blank">
                  ${data.title}
              </a>
            </div>
            <div class="mt-2">
              <small class="text-muted">Published on: ${data.timeline.posted.slice(0, 10)}</small>
            </div>
            <div>
              <span class="badge data-item-type">${data.defined_type_name}</span>
            </div>
          </div>
        </div>`;
      };
      var dataRow = document.getElementById('recent-data-items');
      dataRow.innerHTML = dataItemsHTML;
    };

    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fapi.figshare.com%2Fv2%2Farticles%3Finstitution%3D803%26page_size%3D4%26" +
        "order%3Dpublished_date%26order_direction%3Ddesc"),
      addDataItems
    );

    // Creates html entry for each app fetched from Scilifelab Serve
    function addServeApps(dataArray) {
      var appsRowNode = document.getElementById('recent-serve-apps');
      var appNum = 1;
      for (const data of dataArray.data) {
        // Move on to next app if description is missing and
        if (appNum > 4) {
          break;
        } else if (data.description == null) {
          continue;
        };
        // Set description display based on length
        if (data.description.length > 140) {
          var descriptionDiv = `
                <div id="app${data.id}" class="small collapse">${data.description}</div>
                <button type="button" class="collapsed" data-bs-toggle="collapse" aria-expanded="false" 
                   data-bs-target="#app${data.id}" aria-controls="app${data.id}"></button>`;
        } else {
          var descriptionDiv = `<div class="small">${data.description}</div>`;
        };
        var dataItemsHTML = `
          <div class="col">
            <div class="p-3 border rounded bg-white h-100">
              <div>
                <a href="${data.table_field.url}" target="_blank">${data.name}</a>
              </div>
              <div class="app-description">
                ${descriptionDiv}
              </div>
              <div class="mt-2">
                <small class="text-muted">Updated on: ${data.updated_on.slice(0, 10)}</small>
              </div>
              <div>
                <span class="badge serve-app-type">${data.app_type}</span>
              </div>
            </div>
          </div>`;
        appsRowNode.insertAdjacentHTML("beforeend", dataItemsHTML);
        appNum += 1;
      };
    };

    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fserve.scilifelab.se%2Fopenapi%2Fv1%2Fpublic-apps"),
      addServeApps
    );

    // Add latest tag to very recent news
    document.querySelectorAll("#news-items .news-date").forEach(
      function (newsNode) {
        var numDays = Math.floor((Date.now() - Date.parse(newsNode.innerText)) / (1000 * 60 * 60 * 24));
        if (numDays <= 7) {
          newsNode.insertAdjacentHTML("beforeend", "<span class='badge latest-news pb-1 ms-1'>New</span>");
        }
      }
    );

  });
</script>

{{ end }}