{{ define "main" }}

<section>
  <div class="row mt-4 pt-2">
    <div class="col-md-8 py-2 pe-3 vr-right">
      <!-- Services list -->
      {{ with .Site.GetPage "section" "services" }}
      <div class="row mb-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">Services</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all services <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-lg-3 g-2 pb-2">
        {{ range first 3 .Site.Data.services }}
        {{ if in .target "researchers" }}
        <div class="col">
          <div class="bg-service">
            <div {{ if .thumbnail_border }}class="p-1" {{ end }}>
              <a target="_self" href="{{ .url }}"><img class="img-fluid"
                  src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/service_thumbnails/scilifelab.jpg" }}{{ end }}"
                  alt="{{ .name }}"></a>
            </div>
            <div class="p-2 bg-service-title">
              <b><a target="_self" href="{{ .url }}">{{ .name }}</a></b>
            </div>
            <div class="p-2">
              {{ .description }}
            </div>
          </div>
        </div>
        {{ end }}
        {{ end }}
      </div>
      {{ end }}

      <!-- Resources list -->
      {{ with .Site.GetPage "section" "resources" }}
      <div class="row pb-2 mt-4 pt-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">Resources</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all resources <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      <div class="row row-cols-2 row-cols-lg-3 g-2 pb-2">
        {{ range first 3 .Site.Data.resources }}
        <div class="col">
          <div class="bg-resource">
            <div {{ if .thumbnail_border }}class="p-1" {{ end }}>
              <a target="_self" href="{{ .url }}"><img class="img-fluid"
                  src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/service_thumbnails/scilifelab.jpg" }}{{ end }}"
                  alt="{{ .name }}"></a>
            </div>
            <div class="p-2 bg-resource-title">
              <b><a target="_self" href="{{ .url }}">{{ .name }}</a></b>
            </div>
            <div class="p-2">
              {{ .description }}
            </div>
          </div>
        </div>
        {{ end }}
      </div>
      {{ end }}
   

      <!-- Data Higlights -->
      {{ with .Site.GetPage "section" "highlights" }}
      <div class="row pb-2 mt-4 pt-2">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">{{ .Title }}</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all highlights <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      {{ $latest_highlights := first 3 (where .RegularPages "Section" "highlights") }}
      {{ .Scratch.Set "highlights_list" $latest_highlights }}
      {{ partial "highlights_cards.html" . }}
      {{ end }}
    </div>

    <div class="col-md-4 ms-auto py-2 ps-3">
      <!-- News updates -->
      {{ with .Site.GetPage "section" "news" }}
      <div class="row mb-1">
        <div class="col">
          <h3><a class="title-link" href="{{ .RelPermalink }}">What's new?</a></h3>
        </div>
        <div class="col mt-2 fs-6 text-end">
          <a href="{{ .RelPermalink }}">See all news <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
      </div>
      <div class="row small">
        <div id="news-items" class="col">
          {{ range first 4 .RegularPages }}
          <div class="row">
            <div class="col mb-1 news-date">
              {{ .Date | time.Format ":date_long" }}
            </div>
          </div>
          <div class="row mb-1">
            <div class="col">
              <h6 style="line-height:1.3rem;"><a
                  href="{{ .FirstSection.RelPermalink }}#{{ .Date.Format "20060102" }}">{{ .Title }}</a></h6>
            </div>
          </div>
          {{ end }}
        </div>
      </div>
      {{ end }}

      <!-- About section -->
      <div class="row mt-3 mb-1">
        <div class="col">
          <h3><a class="title-link" href="/about/">About this platform</a></h3>
        </div>
        <div class="col-4 mt-2 fs-6 text-end">
          <a href="/about/">Read more <i class="bi bi-arrow-right-square-fill"></i></a>
        </div>
        <div class="row">
          <div class="col">
            {{ .Content }}
          </div>
        </div>
      </div>

      <!-- Get featured box -->
      <div class="row mt-3 mb-1">
        <div class="col">
          <div class="support rounded">
            <h3>Get your work featured!</h3>
            <p>The platform offers hosting for services, and promotes resources and work relevant to data-driven life
              science research in Sweden. We also promote relevant jobs, calls, and events/training. Get in touch with
              us about adding content relevant to you!</p>
            <h5><a style="color:white;" href="/contact/">Click here to get in touch
                <i class="bi bi-arrow-right-circle-fill"></i></a></h5>
          </div>
        </div>
      </div>

    </div>
  </div>
</section>

<!-- Training and events -->
<section>
  <div class="mb-4">
    <div class="row mt-4 pt-2 mb-2">
      <div class="col">
        <h3><a class="title-link" href="/events/">Events & Training</a></h3>
      </div>
      <div class="col mt-2 fs-6 text-end">
        <a href="/events/">See all events <i class="bi bi-arrow-right-square-fill"></i></a>
      </div>
    </div>
    <div id="recent-events" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-2 g-lg-3"></div>
  </div>
</section>

<!-- Recently published items in figshare-->
<section style="background-image: url('/img/illustrations/bg_figshare.png');">
  <div class="p-3 p-lg-4 my-4">
    <div class="row mb-3">
      <div class="col text-white">
        <h3>Recently published items in the SciLifeLab Data Repository</h3>
      </div>
      <div class="col-3 mt-2 fs-6 text-end">
        <small class="text-small text-white">(external site) </small>
        <a href="https://figshare.scilifelab.se" target="_blank" class="text-white">See all items
          <i class="bi bi-arrow-right-square-fill text-white"></i></a>
      </div>
    </div>
    <div id="recent-data-items" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-4 pb-4"></div>
    <p class="text-white">If you would like further information about SciLifeLab data repository or experience issues
      with the items above, please email <a class="text-white" style="text-decoration: underline;"
        href="mailto:datacentre@scilifelab.se">datacentre@scilifelab.se</a>. If you have questions about a specific
      item,
      contact information is available on the item's page.
    </p>
  </div>
</section>

<!-- recently deployed apps in serve -->
<section style="background-image: url('/img/illustrations/bg_serve.png');">
  <div class="p-3 p-lg-4 my-4">
    <div class="row mb-3">
      <div class="col text-white">
        <h3>Apps recently deployed on SciLifeLab Serve</h3>
      </div>
      <div class="col-4 mt-2 fs-6 text-end">
        <small class="text-small text-white">(external site) </small>
        <a href="https://serve.scilifelab.se/apps" target="_blank" class="text-white">See all public apps
          <i class="bi bi-arrow-right-square-fill text-white"></i></a>
      </div>
    </div>
    <div id="recent-serve-apps" class="row row-cols-1 row-cols-sm-2 row-cols-lg-4 g-3 g-lg-4 pb-4"></div>
    <p class="text-white">If you would like further information about SciLifeLab Serve or experience issues with the
      apps above, please email <a class="text-white" style="text-decoration: underline;"
        href="mailto:serve@scilifelab.se">serve@scilifelab.se</a>. If you have questions about a specific app, go to
      the <a class="text-white" style="text-decoration: underline;" href="https://serve.scilifelab.se/apps"
        target="_blank">apps page on SciLifeLab Serve</a> and click on the 'Details' button of the to find contact
      information for the owner of the app.
    </p>
  </div>
</section>

<script>
  /* Functions to fetch and load recent items from desired Scilifelan services */

  document.addEventListener("DOMContentLoaded", function (event) {
    // Takes a URL and calls the callback function pass the data fetched
    function getDataFromUrl(url, callback) {
      var req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open("GET", url, true);
      req.onload = function () {
        callback(JSON.parse(req.responseText));
      };
      req.send(null);
    }
    
    // Creates html entry for latest events
    function addEvents(data){
      var dataArray = data.items, eventList = [], eventsHTML = "";;
      dataArray.forEach((event) => {
        event.banner_date = event.date_start || event.registration_deadline;
        if (typeof event.banner_date !== 'undefined'){
          var dateString = event.banner_date + (event.time_start ? ' ' + event.time_start : '');
          var [h, m] = event.time_start ? event.time_start.split(":") : [0, 0];
          if (new Date(dateString) >= new Date().setHours(h, m)){
            eventList.push(event);
          };
        };
      });
      eventList = eventList.sort((a,b) => (a.banner_date > b.banner_date) ? 1 : (a.banner_date < b.banner_date) ? -1 : 0);
      var eventsToShow = eventList.slice(0, 4);
      if (eventsToShow.length == 0){
        eventsHTML += `<div class="w-100 p-3 mx-2 border rounded text-center">No upcoming events to show</div>`;
      } else {
        eventsToShow.forEach((event) => {
          var event_date = new Date(event.banner_date);
          eventsHTML += `<div class="col">
                            <div class="p-2 border rounded h-100">
                              <div class="d-flex justify-content-between">
                                <div>
                                  <span class="badge event-type mb-1">${event.type}</span>
                                  <h6>${event.title}</h6>
                                </div>
                                <div class="px-2 pb-1 m-2 d-flex flex-column event-date rounded">
                                  <div class="px-1 fs-4 mx-auto">${event_date.getDate()}</div>
                                  <div class="px-1 small mx-auto">${event_date.toLocaleString('default', {'month': 'long'})}</div>
                                </div>
                              </div>
                            </div>
                          </div>`;
        });
      };
      var eventRow = document.getElementById('recent-events');
      eventRow.innerHTML = eventsHTML;
    }
    
    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fblobserver.dc.scilifelab.se%2Fblob%2Fdata_platform_events.json"),
      addEvents
    );

    // Creates html entry for each item fetch from Scilifelab Data Repository
    function addDataItems(dataArray) {
      var dataItemsHTML = "";
      for (const data of dataArray) {
        dataItemsHTML += `
        <div class="col">
          <div class="p-3 border rounded bg-white h-100">
            <div>
              <a href="${data.url_public_html}" target="_blank">
                  ${data.title}
              </a>
            </div>
            <div class="mt-2">
              <small class="text-muted">Published on: ${data.timeline.posted.slice(0, 10)}</small>
            </div>
            <div>
              <span class="badge data-item-type">${data.defined_type_name}</span>
            </div>
          </div>
        </div>`;
      };
      var dataRow = document.getElementById('recent-data-items');
      dataRow.innerHTML = dataItemsHTML;
    };

    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fapi.figshare.com%2Fv2%2Farticles%3Finstitution%3D803%26page_size%3D4%26" +
        "order%3Dpublished_date%26order_direction%3Ddesc"),
      addDataItems
    );

    // Creates html entry for each app fetched from Scilifelab Serve
    function addServeApps(dataArray) {
      var appsRowNode = document.getElementById('recent-serve-apps');
      for (const data of dataArray.data.slice(0, 4)) {
        // Set description display based on length
        if (data.description.length > 140) {
          var descriptionDiv = `
                <div id="app${data.id}" class="small collapse">${data.description}</div>
                <button type="button" class="collapsed" data-bs-toggle="collapse" aria-expanded="false" 
                   data-bs-target="#app${data.id}" aria-controls="app${data.id}"></button>`;
        } else {
          var descriptionDiv = `<div class="small">${data.description}</div>`;
        };
        var dataItemsHTML = `
          <div class="col">
            <div class="p-3 border rounded bg-white h-100">
              <div>
                <a href="${data.table_field.url}" target="_blank">${data.name}</a>
              </div>
              <div class="app-description">
                ${descriptionDiv}
              </div>
              <div class="mt-2">
                <small class="text-muted">Updated on: ${data.updated_on.slice(0, 10)}</small>
              </div>
              <div>
                <span class="badge serve-app-type">${data.app_type}</span>
              </div>
            </div>
          </div>`;
        appsRowNode.insertAdjacentHTML("beforeend", dataItemsHTML);
      };
    };

    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fserve.scilifelab.se%2Fapi%2Flist-apps"),
      addServeApps
    );

    // Add latest tag to very recent news
    document.querySelectorAll("#news-items .col.news-date").forEach(
      function (newsNode) {
        var numDays = Math.floor((Date.now() - Date.parse(newsNode.innerText)) / (1000 * 60 * 60 * 24));
        if (numDays <= 7) {
          newsNode.insertAdjacentHTML("beforeend", "<span class='badge latest-news pb-1 ms-1'>New</span>");
        }
      }
    );

  });
</script>

{{ end }}