{{ define "main" }}

<section>
  <div>
    {{ .Content }}</div>
</section>

<section>
  <div class="my-2 text-end">
    <button type="button" class="btn btn-aqua" data-bs-toggle="modal" data-bs-target="#suggestionModal">
      Suggest a highlight
    </button>
    </div>
    <div class="modal fade" id="suggestionModal" tabindex="-1" aria-labelledby="suggestionModalLabel" aria-hidden="true">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="suggestionModalLabel">Data highlight suggestion</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
          </div>
          <div class="modal-body">
            [Form will go here]
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            <button type="button" class="btn btn-aqua">Submit</button>
          </div>
        </div>
      </div>
    </div>
</section>

<section>
  <div>
      <div class="row g-2 g-lg-3">
        {{ range .RegularPages }}
        <div class="col-md-4">
          <div class="border rounded">
            <div>
              <img class="img-fluid rounded-top" src="{{ .Params.banner }}">
            </div>
            <div class="px-2 my-1 text-muted">
              {{ .Date | time.Format ":date_long" }}
            </div>
            <div class="px-2 mb-2">
              <h5><a href="{{ .Page.RelPermalink }}">{{ .Title }}</a></h5>
            </div>
            <div class="px-2 mb-2">{{ .Summary }}</div>
            <div class="px-2 mb-2">{{ range (.GetTerms "tags") }}
                      <span class="badge highlight-tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
                      {{ end }}</div>
          </div>
        </div>
        {{ end }}
      </div>
    </div>
</section>

{{ end }}
