{{ define "main" }}

<section>
  {{ if .Params.announcement }}<div class="bg-light-gray border rounded py-2 px-4 my-3 fst-italic">
    {{ .Params.announcement | markdownify }}
  </div>{{ end }}

<div><h2>{{ .Title }}</h2></div>
<div class="text-muted mb-2">Published on: {{ .Date | time.Format ":date_long" }}. Written by: {{ range (.GetTerms "authors") }}<a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a>{{ end }}</div>

<figure class="figure float-start me-3 w-50">
  <img src="{{ if (isset .Params "banner_large") }}{{ .Params.banner_large }}{{ else }}{{ .Params.banner }}{{ end }}" alt="{{ .Title }}" class="img-thumbnail">
  <figcaption class="figure-caption mt-1"><i>{{ .Params.banner_caption | markdownify }}</i></figcaption>
</figure>

{{ .Content }}

<div class="row">
  <div class="col-md">
    <div class="mb-2"><span class="fs-5"><b>Tags:</b></span> {{ range (.GetTerms "tags") }}
      <span class="badge highlight-tag"><a href="{{ .RelPermalink }}">{{ .LinkTitle }}</a></span>
      {{ end }}</div>
  </div>

  <div class="col-md text-md-end">
    <div class="mb-2 fs-5"><b>Share this:</b>
      <a target="_blank" class="twitter-share-button" href="https://twitter.com/intent/tweet?text=Data%20highlight%20on%20the%20SciLifeLab%20Data%20Platform:%20{{ .Title }}, {{ .Permalink }}"><i class="bi bi-twitter me-2"></i></a>
      <a target="_blank" href="https://www.linkedin.com/sharing/share-offsite/?url={{ .Permalink }}"><i class="bi bi-linkedin me-2"></i></a>
      <a target="_blank" href="https://www.facebook.com/sharer/sharer.php?u={{ .Permalink }}"><i class="bi bi-facebook me-2"></i></a>
    </div>
  </div>

</div>

</section>

{{ $related := site.RegularPages.Related . }}

{{ if $related }}
<section>
  <div class="mt-4">
    <h3>Similar data highlights</h3>
    {{ .Scratch.Set "highlights_list" (first 4 $related) }}
    {{ partial "highlights_cards.html" . }}
    </div>
</section>
{{ end }}

{{ end }}
