<!--Simple cards which contain title, description and are clickable-->
{{ $resources := .Site.Data.open_science.resources }}

    <div class="input-group">
      <span class="input-group-text"><i class="bi bi-search"></i></span>
      <input type="text" class="form-control" placeholder="Search" aria-label="Search" data-resource-area="resources_container">
    </div>


<div id="resources_container" class="row g-3 mb-5">
  {{ range sort $resources "name" }}
  <div class="col-md-6 col-lg-4 resource" {{ with .search_tags }}data-search-tags="{{ delimit . ":" | lower }}"{{ end }}>
    <div class="card-teal-25">
      <div {{ if .thumbnail_border }}class="p-1" {{ end }}>
        <a target="_self" href="{{ .url }}"><img class="img-fluid"
            src="{{ with .thumbnail }}{{ . }}{{ else }}{{ "/img/resource_thumbnails/scilifelab.jpg" }}{{ end }}"
            alt="{{ .name }}"></a>
      </div>
      <div class="p-2 card-teal-title">
        <h5><a href="{{ .url }}" target="_self">{{ .name }}</a></h5>
      </div>
      <div class="px-2">
        <b>Affiliation:</b>
        {{ if .affiliation_url}}
          <a href="{{ .affiliation_url}}" aria-label = "{{ .affiliation_url }}" >{{ .affiliation }}</a>
        {{ else }}
          {{ .affiliation }}
        {{ end }}
      </div>

      <div class="px-2">
        {{ if .resource_url}}
          <a href="{{ .resource_url}}" aria-label = "{{ .resource_url }}" >{{ "Click to view this resource" }}</a>
        {{ end }}
      </div>

    </div>
  </div>
  {{ end }}
  <div id="no-filtered-resource" style="display:none;">
    <p class="text-center">No resources have the given keyword, please try to use another.</p>
  </div>
</div>
