<!-- This shortcode consists of code to populate events and news in open_science/activites page -->

<section class="my-4">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-3 g-lg-4">
        {{ $news := where .Site.RegularPages "Section" "eq" "news" }}
        {{ $os_news := where $news "Params.open_science" "eq" true }}
        {{ range $os_news }}
        <div class="col">
            <div class="news-card moving-card">
                <div aria-hidden="true">
                    <a href="{{ .RelPermalink }}">
                        <img class="img-fluid" src="{{ with .Params.thumbnail }}{{ . }}{{ else }}{{ "/img/news/scilifelab.jpg" }}{{ end }}"
                            alt="news-{{ .Date }}">
                    </a>
                </div>
                <div class="px-3 py-2" style="background-color: #045c64; color: #fff;"> {{ .Date | time.Format ":date_long" }} </div>
                <div class="px-3 pb-1">
                    <h5 class="mt-2"><a href="{{ .RelPermalink }}">{{ .Title }}</a></h5>
                </div>
            </div>
        </div>
        {{ end }}
      </div>
</section>

<!-- JS script to load events -->
 <script>
  // Functions need to be run when the DOM is ready
  document.addEventListener("DOMContentLoaded", function (event) {

    // Takes a URL and calls the callback function pass the data fetched
    function getDataFromUrl(url, load_callback, context) {
      let req = new XMLHttpRequest();
      req.overrideMimeType("application/json");
      req.open("GET", url, true);
      // The function call for fetching data and display
      req.onload = function () {
        load_callback(JSON.parse(req.responseText).items, context);
      };
      req.send(null);
    }; // function "getDataFromUrl" ends here

    // Take data about events and displays it
    function addEvents(dataArray, context) {
      let eventList = [];
      dataArray.forEach((event) => {
        // Show only events that are meant to be displayed
        if (context == "sll-events-section" && typeof event.category !== 'undefined' &&
           !event.category.includes("Open Science")) {
          return;
        };
        // Not insterested if the deadline have already passed
        event.banner_date = event.date_start || event.registration_deadline;
        if (typeof event.banner_date !== 'undefined'){
          let dateString = event.banner_date + (event.time_start ? ' ' + event.time_start : '');
          let [h, m] = event.time_start ? event.time_start.split(":") : [0, 0];
          if (new Date(dateString) >= new Date().setHours(h, m)){
            eventList.push(event);
          };
        };
      }); // dataArray for each ends here
      eventList = eventList.sort((a,b) => (a.banner_date > b.banner_date) ? 1 : (a.banner_date < b.banner_date) ? -1 : 0);
      let eventsHTML;
      // If no event to show, display appropriate message
      if (eventList.length === 0) {
        eventsHTML = `<div class="alert alert-secondary mt-4">
                          There are currently no events to display, but upcoming events will be posted here.
                        </div>`;
      } else {
        eventsHTML = `<div class="row g-2" id="${context}-container">`;
        eventList.forEach((event, ind) => {
            let event_date = new Date(event.banner_date);
            eventsHTML += `<div class="col-md-6 col-lg-4 event">
                            <div class="card-box">
                            <div class="d-flex justify-content-between">
                                <div>
                                <span class="badge event-type mb-1">${event.type}</span>
                                <h5><a class="" role="button" data-bs-toggle="modal"
                                    data-bs-target="#descriptionModal-${context}-${ind}">${event.title}</a></h5>
                                </div>
                                <div>
                                <div class="px-2 pb-1 m-2 d-flex flex-column rounded event-date">
                                <div class="px-2 fs-3 mx-auto">${event_date.getDate()}</div>
                                <div class="pb-1 px-2 mx-auto">${event_date.toLocaleString('default', {'month': 'long'})}</div>
                                </div>
                                </div>
                            </div>`;
            let event_date_time = [], date_format_options = {'month': 'short', day:'numeric', year: 'numeric'};
            event.date_start && event_date_time.push(new Date(event.date_start).toLocaleString('en-US', date_format_options));
            event.time_start && event_date_time.push(event.time_start);
            (event.date_end || event.time_end) && event_date_time.push("-")
            event.date_end && event_date_time.push(new Date(event.date_end).toLocaleString('en-US', date_format_options));
            event.time_end && event_date_time.push(event.time_end);
            if (event_date_time.length > 0){
                eventsHTML += `<div class="row mt-3">
                                <div class="col">
                                <b>Date and time:</b> ${event_date_time.join(" ")}
                                </div>
                            </div>`;
            }
            if (event.registration_deadline){
                eventsHTML += `<div class="row mt-1">
                                <div class="col">
                                <b>Registration deadline:</b> ${new Date(event.registration_deadline).toLocaleString('en-US', date_format_options)}
                                </div>
                            </div>`;
            }
            if (event.organisers){
                eventsHTML += `<div class="row">
                                <div class="col">
                                <b>Organiser(s):</b> ${event.organisers}
                                </div>
                            </div>`;
            }
            if (event.venue){
                eventsHTML += `<div class="row">
                                <div class="col">
                                <b>Venue:</b> ${event.venue}
                                </div>
                            </div>`;
            }
            eventsHTML += `<div class="row mt-3">
                            <div class="col">
                                <button type="button" class="btn btn-details btn-sm" data-bs-toggle="modal"
                                data-bs-target="#descriptionModal-${context}-${ind}">
                                See details
                                </button>
                                <div class="modal fade" id="descriptionModal-${context}-${ind}" tabindex="-1"
                                aria-labelledby="descriptionModalLabel-${context}-${ind}" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="descriptionModalLabel-${context}-${ind}">${event.title}</h5>
                                        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                    </div>
                                    <div class="modal-body">
                                        <div class="row">
                                        <div class="col">
                                            <b>Event type:</b> <span class="badge event-type mb-1">${event.type}</span>
                                        </div>
                                        </div>`;
            if (event_date_time.length > 0){
                eventsHTML += `<div class="row mt-1">
                                <div class="col">
                                <b>Date and time:</b> ${event_date_time.join(" ")}
                                </div>
                            </div>`;
            }
            if (event.registration_deadline){
                eventsHTML += `<div class="row mt-1">
                                <div class="col">
                                <b>Registration deadline:</b> ${new Date(event.registration_deadline).toLocaleString('en-US', date_format_options)}
                                </div>
                            </div>`;
            }
            if (event.organisers){
                eventsHTML += `<div class="row mt-1">
                                <div class="col">
                                <b>Organiser(s):</b> ${event.organisers}
                                </div>
                            </div>`;
            }
            if (event.venue){
                eventsHTML += `<div class="row mt-1">
                                <div class="col">
                                <b>Venue:</b> ${event.venue}
                                </div>
                            </div>`;
            }
            if (event.description){
                eventsHTML += `<div class="row mt-3">
                                <div class="col">
                                <b>Description:</b><br> ${event.description}
                                </div>
                            </div>`;
            }
            eventsHTML += `<div class="row mt-3">
                            <p>For more information, see the event webpage at the link below.</p>
                            <div class="col-md">
                                <a target="_blank" href="${event.event_url}"><i class="bi bi-globe"></i> Event webpage</a>
                            </div>`;
            if (event.registration_url){
                eventsHTML += `<div class="col-md">
                                <a target="_blank" href="${event.registration_url}"><i class="bi bi-globe"></i>
                                Registration</a>
                            </div>`;
            }
            eventsHTML += `</div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
                        </div>
                        </div>
                    </div>
                    </div>
                </div>
                </div>
            </div>
            </div>`;
        }); // for each events iteration to create html cards ends here
        eventsHTML += `</div>`;
      };
      let eventsSection = document.getElementById(context);
      eventsSection.innerHTML = eventsHTML;
    } // function "addEvents" ends here

    // Call the function to display SLL events
    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fblobserver.dc.scilifelab.se%2Fblob%2Fddls_events.json"),
      addEvents,
      "sll-events-section" // "div id" in open_science/activites page
    );

    // Call the function to display other events
    getDataFromUrl(
      decodeURIComponent("https%3A%2F%2Fraw.githubusercontent.com%2FScilifelabDataCentre%2Fdata.scilifelab.se%2Frefs%2Fheads%2Fdevelop%2Fdata%2Fopen_science%2Fevents.json"),
      addEvents,
      "other-events-section" // "div id" in open_science/activites page
    );

  }); // Document "DOMContentLoaded" trigger ends here
</script>
